@charset "UTF-8";
/* Variables */
/* Mixins */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  text-decoration: none;
}

h4 {
  text-decoration: none;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #f2f2f2;
  line-height: 1.2;
  text-align: center;
}

/* Header */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

header .header__logo {
  text-align: center;
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 5px 2px grey;
          box-shadow: 0px 0px 5px 2px grey;
  position: relative;
}

header .header__span {
  text-align: center;
  padding: 20px 0;
  background-color: #e4e4e4;
}

/* Bouton accès restaurants */
.section1 {
  text-align: center;
  position: relative;
  background-color: #eaeaea;
}

.section1 h1 {
  padding-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: 900;
}

.section1 .section1__h3 {
  padding: 10px;
}

.section1 h3 {
  font-weight: 300;
}

.section1 .section1__btn {
  background: #9356dc;
  background: -webkit-gradient(linear, left top, right top, from(#9356dc), to(#ff79da));
  background: linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  color: #f2f2f2;
  margin: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 3px 0.5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Fonctionnement */
.section__fonctionnement {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 50px;
}

.section__fonctionnement .btn__fonctionnement {
  margin: 10px 0;
  width: 90%;
  border: none;
  border-radius: 15px;
  padding: 18px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__fonctionnement .btn__fonctionnement:hover {
  background-color: #68c5fa60;
}

.section__fonctionnement .btn__fonctionnement:hover i {
  color: #9356dc;
}

.section__fonctionnement .btn__fonctionnement:hover p {
  color: #000000;
}

.section__fonctionnement .section__fonctionnement {
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.section__fonctionnement i {
  float: left;
}

.section__fonctionnement .btn_texticon {
  text-align: center;
}

.section__fonctionnement h1 {
  text-align: left;
  margin: 20px;
  font-weight: bolder;
}

.section__fonctionnement p {
  width: 100%;
  display: inline;
  text-align: center;
  padding: 20px;
  font-style: normal;
  font-weight: 600;
}

/* Section Restaurants */
.section__restaurants {
  padding-top: 30px;
  background-color: #eaeaea;
  padding-bottom: 50px;
}

.section__restaurants h1 {
  text-align: left;
  margin: 20px;
  font-weight: bolder;
}

.section__restaurants .section__restaurants--vignette {
  padding: 0px;
  background: #fff;
  border-radius: 1.25rem;
  margin: 0 0 0px 0;
  -webkit-box-shadow: 0px 0px 10px #55555538;
          box-shadow: 0px 0px 10px #55555538;
  cursor: pointer;
  text-align: center;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 15px;
}

.section__restaurants .section__restaurants--img {
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.section__restaurants .figcaption {
  text-decoration: none;
  text-align: center;
}

.section__restaurants a {
  text-decoration: none;
  color: #000000;
}

.section__restaurants h4 {
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  font-weight: 800;
}

.section__restaurants p {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: #353535;
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 300;
}

footer i {
  padding-right: 5px;
}

footer img {
  color: #f2f2f2;
}

footer p {
  padding: 3px;
  font-size: 15px;
}
