@import "Foundation/mixins";
@import "Foundation/variables";
@import "Foundation/responsive.scss";
@import "Foundation/keyframes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

p {
  text-decoration: none;
}

h4 {
  text-decoration: none;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 0px 50px 0.8px rgba(0, 0, 0, 0.4);
}
.headermenu__container,
main,
footer {
  animation-name: body;
  animation-delay: 3s;
  animation-direction: forwards;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

/* Loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $blue-color;
  border-bottom: 16px solid $green-color;
  animation: spin;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light-color;
  overflow-x: hidden;
  overflow-y: hidden;

  .header__logo {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
    box-shadow: 0px 0px 5px 2px grey;
    position: relative;
  }

  form {
    text-align: center;
    padding: 20px 0;
    background-color: $lightish-grey;
  }
}

/* Header Menus */

.headermenu__container {
  position: sticky;
  top: 0;
}
.headermenu__logo-arrow {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $light-color;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.headermenu__logo {
  text-align: center;
  margin: auto;
}

.headermenu__arrow {
  text-align: left;
  position: relative;
  left: 20px;
}

.headermenu__img {
  height: 15rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* Bouton accès restaurants */

.section1 {
  text-align: center;
  position: relative;
  background-color: $ligh-grey;
  overflow-x: hidden;
  overflow-y: hidden;

  h1 {
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 900;
  }
  .section1__h3 {
    padding: 10px;
  }
  h3 {
    font-weight: 300;
  }
  .section1__btn {
    @include color-gradient;
    color: $light-color;
    @include btn-shape;
    font-weight: bolder;
    font-size: large;
  }
  .section1__btn:hover {
    @include darker-shadow;
    transform: scale(1.02);
    transition-duration: 300ms;
    @include color-gradient-inverted;
  }
}

/* Fonctionnement */

.section__fonctionnement {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  counter-reset: section;
  .container__btn--fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn__fonctionnement {
    margin: auto;
    width: 80vw;
    max-height: 10vw;
    @include btn-shape2;
    display: flex;
    align-items: center;
    flex-direction: row;
    counter-reset: 0;
    position: relative;
    font-weight: bold;
  }
  .btn__fonctionnement::before {
    counter-increment: section;
    content: counter(section);
    border-radius: 100px;
    color: $white;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 15px;
    background-color: $blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.75rem;
  }
  .btn__fonctionnement:hover {
    background-color: $light-blue-color;
    i {
      color: $blue-color;
    }
    p {
      color: $black;
    }
    @include darker-shadow;
    transform: scale(1.02);
    transition: ease-out;
    transition: 500ms;
  }
  .section__fonctionnement {
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }
  i {
    float: left;
    margin-right: 10px;
    color: $grey;
  }
  .btn_texticon {
    text-align: center;
  }
  h1 {
    text-align: left;
    margin: 20px;
    font-weight: bolder;
  }
  p {
    display: inline;
    text-align: center;
    padding: 20px;
    font-style: normal;
    font-weight: 600;
  }
}

/* Section Restaurants */

.section__restaurants {
  padding-top: 30px;
  background-color: $ligh-grey;
  padding-bottom: 50px;
  h1 {
    text-align: left;
    margin: 20px;
    font-weight: bolder;
  }
  .section__restaurants--vignette {
    @include vignettes;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 15px;
    position: relative;
  }
  .section__restaurants--vignette:hover {
    transform: scale(1.09);
    transition: 500ms;
    animation-timing-function: ease-in-out;
  }
  .section__restaurants--img {
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .figcaption {
    text-decoration: none;
    text-align: center;
    display: flex;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  h4 {
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
    text-align: left;
    font-weight: 800;
  }
  p {
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
  }
  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .fa__heart {
    position: absolute;
    right: 5%;
    bottom: 40%;
    padding: 20px;
    fill: $pink;
  }
  .fa__heart:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
    fill: $pink;
  }
}
.vignette__nouveau {
  background-color: $green-color !important;
  border: $green-color;
  color: $darker-green-color;
  font-weight: bold;
  border-radius: 2px;
  margin: 0;
  padding: 6px 10px !important;
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 10%;
}

/* Menus */

.section__menu--container {
  background-color: $light-color;
  border-radius: 2rem 2rem 0 0;
  @include upper-shadow;
  position: relative;
  bottom: 2.5rem;
  padding-bottom: auto;
}

.fa__heart--menu {
  position: relative;
  top: 5px;
  cursor: pointer;
  padding-right: 2.5%;
}
.fas.fa-heart {
  opacity: 0;
}

.fas.fa-heart:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  color: $pink;
}

.section__menu--titre {
  display: flex;
  font-family: $font-stack2;
  font-size: large;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.section__menu--categorie {
  h3 {
    @include categories-txt;
    padding-top: 20px;
  }
}
.section__menu--hr {
  width: 45px;
  position: relative;
  left: 5%;
  border: 1px solid $green-color;
}
.menu__element--txt {
  text-align: left;
  p {
    width: 70vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.section__menu--element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__element {
  @include btn-shape-element;
  width: 90%;
  background-color: $white;
  padding: 13px;
  margin: 8px;
  animation: itemAppear forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  h4 {
    font-size: 15px;
    padding-bottom: 5px;
  }
  .menu__element--prix {
    font-weight: bolder;
    margin: auto;
  }
  &:hover {
    .menu__element--confirmation {
      margin-right: -1rem;
    }
    .menu__element--wrapicon {
      transform: rotate(0);
    }
  }
}
.menu__element--confirmation {
  background-color: $green-color;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.menu__element--wrapicon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.section__menu--btn-commander {
  color: $light-color;
  @include btn-shape;
  @include color-gradient;
  font-weight: bolder;
  font-size: large;
}
.section__menu--btn-commander:hover {
  @include color-gradient-inverted;
  transform: scale(1.1);
  transition: 500ms;
  transition-timing-function: ease-in-out;
}
/* Footer */

footer {
  background-color: $footer-color;
  padding: 10px;
  color: $light-color;
  text-decoration: none;
  padding-bottom: 30px;
  h2 {
    font-family: $font-stack2;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  a {
    display: flex;
    align-content: center;
    color: $light-color;
    text-decoration: none;
    font-weight: 400;
  }
  i {
    margin-right: 8px;
  }
  img {
    color: $light-color;
  }
  p {
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
  }
}
