@use 'Foundation/mixins.scss';
@use 'Foundation/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  text-decoration: none;
}

h4 {
  text-decoration: none;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  line-height: 1.2;
  text-align: center;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light-color;

  .header__logo {
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 0px 5px 2px grey;
    position: relative;
  }
  .header__span {
    text-align: center;
    padding: 20px 0;
    background-color: $lightish-grey;
  }
}

/* Bouton accès restaurants */

.section1 {
  text-align: center;
  position: relative;
  background-color: $ligh-grey;

  h1 {
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 900;
  }
  .section1__h3 {
    padding: 10px;
  }
  h3 {
    font-weight: 300;
  }
  .section1__btn {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      90deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 100%
    );
    color: $light-color;
    @include btn-shape;
  }
}
/* Fonctionnement */

.section__fonctionnement {
  background-color: $light-color;
  padding-top: 30px;
  padding-bottom: 50px;
  .btn__fonctionnement {
    margin: 10px 0;
    width: 90%;
    @include btn-shape2;
    display: flex;
    flex-direction: column;
  }
  .btn__fonctionnement:hover {
    background-color: $light-blue-color;
    i {
      color: $blue-color;
    }
    p {
      color: $black;
    }
  }
  .section__fonctionnement {
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }
  i {
    float: left;
  }
  .btn_texticon {
    text-align: center;
  }
  h1 {
    text-align: left;
    margin: 20px;
    font-weight: bolder;
  }
  p {
    width: 100%;
    display: inline;
    text-align: center;
    padding: 20px;
    font-style: normal;
    font-weight: 600;
  }
}

/* Section Restaurants */

.section__restaurants {
  padding-top: 30px;
  background-color: $ligh-grey;
  padding-bottom: 50px;
  h1 {
    text-align: left;
    margin: 20px;
    font-weight: bolder;
  }
  .section__restaurants--vignette {
    @include vignettes;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 15px;
  }
  .section__restaurants--img {
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .figcaption {
    text-decoration: none;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $black;
  }
  h4 {
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
    text-align: left;
    font-weight: 800;
  }
  p {
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
  }
}
/* Footer */

footer {
  background-color: $footer-color;
  padding: 10px;
  color: $light-color;
  text-decoration: none;
  h2 {
    font-family: $font-stack2;
    font-size: 15px;
    text-align: left;
    padding: 10px;
  }
  a {
    display: flex;
    align-content: center;
    color: $light-color;
    text-decoration: none;
    font-weight: 300;
  }
  i {
    padding-right: 5px;
  }
  img {
    color: $light-color;
  }
  p {
    padding: 3px;
    font-size: 15px;
  }
}
