
/* Variables */

$font-stack2 : 'shrikhand', cursive;
$font-stack: 'roboto', sans-serif;
$light-color: #F4F4F4;
$shadow: #000000;
$ligh-grey: #eaeaea;
$pink: #FF79DA;
$footer-color: #353535;


/* Mixins */

@mixin btn-shape {
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 3px 0.5px grey;
}

@mixin btn-shape2 {
    border: none;
    border-radius: 15px;
    padding: 18px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    box-shadow: 6px 5px 5px 0.5px grey;
    background-color: $light-color;
}

@mixin vignettes {
    background: #fff;
    border-radius: 1.25rem;
    margin: 0 0 0px 0;
    box-shadow: 0px 0px 10px #55555538;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    text-decoration: none;
}

h4 {
    text-decoration: none;
}

body {
    font-family: $font-stack;
    background-color: $light-color;
    line-height: 1.6;
    text-align: center;
}

/* Header */

@media (max-width:640px){
* {
    max-width: 375px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__logo {
    text-align: center;
    background-color: $light-color;
    padding: 20px 0;
    box-shadow: 0px 0px 5px 2px grey;
    position: relative;
}
.header__span {
    text-align: center;
    padding: 20px 0;
    background-color: $ligh-grey;
}
}

/* Bouton accès restaurants */

@media (max-width:640px) {
    .section1 {
        text-align: center;
        position: relative;
        background-color: #f6f6f6;
    }
    &h1 {
        padding: 10px 0px;
        font-weight: 900;
    }
    .section1__h3 {
        font-size: 12px;
    }
    .section1__btn {
        background: rgb(147,86,220);
        background: linear-gradient(90deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: $light-color;
        @include btn-shape;
    }

}

/* Fonctionnement */

@media (max-width:640px) {
    .btn__fonctionnement {
        margin: 10px 0;
        width: 90%;
        @include btn-shape2;
        display: flex;
        flex-direction: column;
    }
    .section__fonctionnement {
        font-weight: 600;
        text-decoration: none;
        text-align: center;
    }
    .btn_texticon {
        text-align: center;
    }
}

/* Section Restaurants */

@media (max-width: 640px) {
    .section__restaurants--vignette {
        @include vignettes;
        text-align: center;
        width: 95%;
        padding: 2.5%;
        margin: 2.5%;
    }
    .section__restaurants--img {
        height: 15rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    &figcaption {
        text-decoration: none;
        text-align: center;
    }
}


/* Footer */

@media (max-width: 640px) {
    footer {
        background-color: $footer-color;
        padding: 10px;
        color: $light-color;
        text-decoration: none;
        h2 {
            font: $font-stack2;
        }
        a {
            display: flex;
            align-content: center;
            padding: 10px;
            color: $light-color;
            text-decoration: none;
            font-weight: 400;
        }
    }
    
    i {
        padding: 2px;
    }
    img {
        color: $light-color;
    }
}
